$font-stack: Helvetica, sans-serif;

$primary-color: #333;

// $font-size: 13px;

body {
    // font: $font-size $font-stack;
    color: $primary-color;
}

.container-fluid {
    padding-top: 80px;
}
